body {
  background-color: rgb(155,240,233);
}

h1 {
  font-family: 'Bree Serif', serif;
  color: rgb(91, 89, 89);
}

footer {
  margin-top: 25px;
  font-size: 10px;
  color: rgb(91, 89, 89);
}

#geo {
  border-radius: 50px;
  background-color: rgb(234,53,86);
  color: white;
}

#logo {
  opacity: 1.0;
  margin: auto;
}

#slogan {
  font-family: 'Bree Serif', serif;
  color: rgb(234,53,86);
  font-size: 30px;
  text-shadow: 1px 1px 10px rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 10px;
  padding: 10px 15px;
}

#accordion {
  font-family: 'ABeeZee', sans-serif;
}

.alert {
  font-family: 'Bree Serif', serif;
  background-color: rgb(255, 255, 255);
  color: rgb(49, 93, 134);
  font-size: 18px;
}

.logSign {
  margin-bottom: 15px;
}

.toprow {
  height: 0px;
  margin-bottom: 10px;
}

.midrow div {
  background-image: url(http://i.imgur.com/tskvnpG.png);
  background-size: cover;
  opacity: 1;
}

.logout {
  display: inline-block;
}

.loginButt {
  background-color: rgb(234,53,86);
}

.signupButt {
  background-color: #4fad50;
}

.geoButt {
  margin: 5px 0;
}

.seaButt {
  margin-right: 8px;
}

.workmeet {
  height: 100%;
}

.text {
  font-size: 16px;
  font-family: 'Bree Serif', serif;
  color: rgb(91, 89, 89);
  margin-right: 5px;
}

.favTitle {
  font-size: 18px;
  font-weight: bold;
  color: rgb(234,53,86);
}

.favTitle span {
  font-size: 12px;
  color: #4faaad;
}

.good {
  color: rgb(49, 134, 68);
  font-weight: bold;
}

.ave {
  color: rgb(49, 93, 134);
  font-weight: bold;
}

.poor {
  color: rgb(134, 49, 87);
  font-weight: bold;
}

.none {
  color: rgb(91, 89, 89);
  font-weight: bold;
}

.group { zoom: 1 }

.delete {
  height: 4px;
  width: 4px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 4px;
  color: rgb(91, 89, 89);
}

.newFav {
  font-family: 'ABeeZee', sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: 6px solid #edde45;
}

.subButt {
  margin-top: 10px;
  background-color: rgb(234,53,86);
}

.Butt {
  background-color: rgb(49, 93, 134);
}

.tags {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 93, 134);
  border-radius: 4px;
  border: 2px solid rgb(49, 93, 134);
  margin: 2px 4px 6px 0;
  padding: 2px;
  display: inline-block;
}

.newTag {
  color: rgb(255, 255, 255);
  background-color: #4faaad;
  border-radius: 4px;
  border: 2px solid #4faaad;
  margin: 2px 4px 6px 0;
  padding: 2px;
  display: inline-block;
  font-weight: bold;
}

.icon {
  height: 50px;
}

.openNow {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.searchName {
  font-size: 24px;
  color: rgb(234,53,86);
}

.searchTypes{
  font-family: 'ABeeZee', sans-serif;
  font-size: 12px;
}

.search {
  background-color: rgb(234,53,86);
  color: white;
}

.googleLogo {
  height: 15px;;
  margin-bottom: 4px;
}

.spacerDiv {
  margin: 10px 0;
}

.edit {
  margin-top: 25px;
}

.editCont {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 20px;
}



.navbar-default {
  background-color: #61d2d6;
  border-color: #4faaad;
  border: 3px solid #4faaad;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #edde45;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #edde45;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #61d2d6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #edde45;
  background-color: #ea3556;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #61d2d6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #edde45;
  background-color: #ea3556;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #edde45;
  background-color: #ea3556;
}
.navbar-default .navbar-toggle {
  border-color: #ea3556;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ea3556;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #61d2d6;
  border-style: solid;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #edde45;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #edde45;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #edde45;
    background-color: #ea3556;
  }
}
