<% if(typeof alerts !== 'undefined') { %>
  <% for(key in alerts) { %>
  <% alerts[key].forEach(function(thisMSG) { %>
    <div class="text-center alert alert-<%= key %>"><%= thisMSG %></div>
  <% }); %>
  <% } %>
<% } %>
