<div class="row toprow">
  <div class="col-xs-12">
  </div>
</div>
<div class="row midrow">
  <div class="col-xs-12 text-center">
    <img id="logo" class="img-responsive" src="http://i.imgur.com/LNC23li.png">
  </div>
</div>
<div class="row botrow">
  <div class="col-xs-12">
    <p id="slogan" class="text-center">Find and catalouge places to meet, work or study.</p>
  </div>
</div>
