<% include ./partials/header %>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbad-header">
          <%# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search_nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>%>
          <a class="navbar-brand" href="/"><img src="http://i.imgur.com/jabq4b5.png" class="img-responsive workmeet"></a>
        </div>

          <form class="navbar-form navbar-right" method="GET" action="/location">
            <div class="form-group">
              <input id="lat" type="hidden" class="form-control" name="lat" style='width:auto'>
              <input id="lon" type="hidden" class="form-control" name="lon">
            </div>
          </form>
          <form class="navbar-form navbar-right" role="search" method="GET" action="/search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="query">
            </div>
            <button type="submit" class="btn btn-warning search seaButt">Submit</button>

            <input id="geoLoc" type="text" class="form-control geoLoc" name="geoLoc" style='width:auto' placeholder="Location">
            <button id="geo" type="button" class="btn btn-warning glyphicon glyphicon-screenshot geoButt" value=""></button>
            </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <% include ./partials/alerts %>
        </div>
        <div class="col-xs-4">
          <div class="userInfo pull-right">
          <% if (currentUser) { %>
            <span class="text">Welcome</span>
            <a href="/favorites" value="favorites" class="btn btn-success signupButt">Favorites</a>
            <form class="form logout" method="GET" action="/login/logout">
              <div class="form-group">
              <input type="submit" class="btn btn-warning form-control loginButt" value="logout">
            </div>
            </form>
          <% } else { %>
            <div class="logSign">
              <a href="/login" class="btn btn-warning loginButt">Login</a>

              <a href="/signup" class="btn btn-success signupButt">Signup</a>
            </div>
          <% }; %>
          </ul>
        </div>
        </div>
      </div>
    <%- body %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="../static/scripts/script.js"></script>

  </body>
<% include ./partials/footer %>
