<div class="row">
  <div class="col-xs-12">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/signup" class="form">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="user name" name="name">
      </div>
      <div class="form-group">
        <input class="form-control" type="email" placeholder="email" name="email">
      </div>
      <div class="form-group">
        <input id="password1" class="form-control" type="password" placeholder="password" name="password1">
      </div>
      <div class="form-group">
        <input id="password2" class="form-control" type="password" placeholder="confrim password" name="password2">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript">
window.onload = function () {
	document.getElementById("password1").onchange = validatePassword;
	document.getElementById("password2").onchange = validatePassword;
}

function validatePassword(){
var pass2=document.getElementById("password2").value;
var pass1=document.getElementById("password1").value;
if(pass1!=pass2)
	document.getElementById("password2").setCustomValidity("Passwords Don't Match");
  document.get
  $('.pass2').text('X');
else
	document.getElementById("password2").setCustomValidity('');
//empty string means no validation error
}
</script>
